h3
{
   color: blueviolet;
}
.u
{
    color: brown;
    font-style: calc();
}
#v
{
    color: aquamarine;
    font-weight: 200;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}